
/////////////////////////////////////////////// VARIABLES

:root {
    --title: var('Lato', sans-serif);
    --paragraph: var('Open Sans', sans-serif);
}


// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-gray-dark: #777;
$color-black: #000;

// TYPOGRAHPY
$title: 'Lato', sans-serif;
$paragraph: 'Open Sans', sans-serif;


