

button, button:visited, button:link {
    border: none;
    border-radius: 10px;
    background: $linear-bg-color;
    padding: 1.2rem 1.8rem;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
    color: $color-black;
   
}

// ABOUT AND PROJECT BTN HOVER EFFECTS
.btn_hover, .projects_btn {
    transition: transform .3s;

    &:hover {
        transform: translateY(-3px) scale(1.1);}

    &:active {
        transform: translateY(-1px) scale(1);
        box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    }
}

// PROJECTS BTN
.projects_btn, .close {background: whitesmoke;}

